$if(theNote)$
<div id='toc'>
    <ul>
        $for(priorNotes)$
        <li><a href=$url$>$note_title$</a></li>
        $endfor$
        $for(theNote)$
        <li><a href=$url$>$note_title$</a>
        $endfor$
        $if(has_toc)$
        $toc$
        $endif$</li>
        $for(postNotes)$
        <li><a href=$url$>$note_title$</a></li>
        $endfor$
    </ul>
</div>
$else$
<div> 
    <span>Graham Leach-Krouse</span>
</div>
<div>
    <span>gleachkr@ksu.edu</span>
    <span>gleachkr@gmail.com</span>
</div>
<div> 
    <span>306 Dickens Hall </span>
</div>
<div>
    <span>Department of Philosophy</span>
    <span>Kansas State University</span>
    <span>201 Dickens Hall</span>
    <span>Manhattan, KS 66506</span>
</div>
$endif$
